.mode {
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 15px;
  border: 3px solid var(--border-color);
  line-height: 1.3rem;
  padding: 7px;
  width: 100%;
  background-color:var(--lighter-bg) ;
  h4 {
    color: var(--border-color);
  }
  div {
    width: 10px;
    height: 30px;
    font-size: 1.1rem;
    display: grid;
    place-items: center;
  }
}

.moonColor {
  color:yellow;
  margin-left: -8px;
}
.moonColor:hover{
  color: rgb(21, 22, 21);
}

.sunColor {
  color: rgb(236, 121, 20);
  margin-left: -42px;
}
.sunColor:hover{
  color: rgb(252, 248, 242);
}






