.section-patient {
  position: relative;
}

.section-patient-description {
  padding-top: 0px;
  display: grid;
  grid-template-columns: 1fr;
  background:  var(--lighter-bg)  url("../../components/images/pt-bg.jpg");
  background-blend-mode: luminosity;
  background-size: cover;
}

.section-patient-wrapper  h1 {
  font-size: 3.5rem;
  margin-top: 55px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 2px 2px 2px var(--text-shadow-color);
  color: var(--second-text-color);
}

.section-patient-description h2 {
  display: block;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: left;
  background-color: rgb(232, 232, 60);
width: 52%;
  margin: 3% 0% 0 33%;
  padding: 20px 20px 20px 50px;
}

.section-patient-description h3 {
  display: block;
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--second-text-color);
  width: 60%;
  padding: 30px;
  margin-left: 30%;
  text-align: left;
}

.section-patient-description {
  font-size: 1.3rem;
  text-align: center;
  
}

.submit-button {
  display: block;
  width: 100%;
  height: 50px;
  max-width: 200px;
  line-height: 50px;
  margin: 50px 0;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
  background-color: rgb(251, 238, 217);
  border: 2px solid#ef8a65;
  border-radius: 0 15px 0 15px;
  margin-left: 40%;
  margin-top: -5px;
}

// submit button
.submit-button {
  margin-top: 5px;
  background-color: var(--bt-background);
  border-radius: 0 15px 0 15px;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: var(--bt-hover);
}

.scroll__wrapper {
  display: flex;
  place-items: center;
  transform: translate(80%, 80%);
  position: relative;
  color: var(--second-text-color);
  &::after {
    content: 'scroll down';
    position: absolute;
    top: 0;
    left: -8px;
  }
  display: none;
}