.section-patient {
  position: relative;
}

.section-patient-description {
  padding-top: 0px;
  display: grid;
  grid-template-columns: 1fr;
  background:  var(--sideBar-bg)  url("../../assets/images/bkg1.jpg");
  
  // opacity: 0.8;
  
  background-blend-mode: luminosity;


background-size: cover;

  
}
.section-patient-wrapper  h1 {
  font-size: 3.5rem;
  margin-top: 55px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}
// .section-patient-description h1 {
//   display: block;
//   font-size: 3rem;
 
//   margin-bottom: 25px;
//   text-align: center;
// }

.section-patient-description h2 {
  display: block;
  font-size: 1.6rem;
  line-height: 2.2rem;
  
  // text-decoration: underline;
  // margin-top: -29%;
  margin-bottom: 15px;
  //  margin-left: 20%;
  text-align: left;
  margin-left: 30%;
}

.section-patient-description h3 {
  display: block;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 15px;
  color: var(--color-tem);
 width: 65%;
//  background-color: #eec4b4;
 padding: 30px;
//  font-family: Georgia, 'Times New Roman', Times, serif;
margin-left: 27%;
 text-align: left;
}

.section-patient-description {
  font-size: 1.3rem;
  text-align: center;
  
}

.submit-button {
  display: block;
  width: 100%;
  height: 50px;
  max-width: 200px;
  line-height: 50px;
 
  margin: 50px 0;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
  background-color: rgb(251, 238, 217);
border: 2px solid#ef8a65;
border-radius: 0 15px 0 15px;
margin-left: 40%;
margin-top: -5px;
}



.submit-button {
  margin-top: 5px;
  background-color: azure;
  border-radius: 0 15px 0 15px;
  
 
  color: #f0994d;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  color: #e20f1d;
}
.scroll__wrapper {
  display: flex;
  place-items: center;
  transform: translate(80%, 80%);
  position: relative;
  color: var(--color-tem);
  &::after {
    content: 'scroll down';
    position: absolute;
    top: 0;
    left: -8px;
  }
  display: none;
}