.section-1 {
  min-height: 120vh;
  display: flex;
  // align-items: center;
  font-family: sans-serif;
  margin-top: 15px;
  position: relative;
}
.office-info {
  color: #d24613;;
  width: 25px;
  margin-left: 83px;
  margin-top: 3px;
}
.headerImg {
  
  margin-top: 5%;
  margin-left: 3px;
 
}

.intro-page h1 {
  font-size: 3.5em;
  line-height: 2rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
  color: var(--primary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.intro-page h2 {
  font-size: 2.2em;
  line-height: 2.5rem;
  letter-spacing: 3px;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
  color: #d24613;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 2px solid black;
}

.intro-page h3 {
  // background-image: url("../../assets/images/tooth.jpeg");
  // background-size: cover;
  align-content: center;
  font-size: 2.1em;
  line-height: 4.2rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: -34%;
  margin-left: 63%;
  color: #d24613;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 4px solid orange;
  text-align: center;
  padding: 10px;
}

// contact button
  .contact-button {
  display: block;
  width: 100%;
  height: 50px;
  max-width: 200px;
  line-height: 50px;
  position: relative;
  margin: 50px 0;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
}

.contact-button div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0 15px 0 15px;
}

.contact-button span.bg {
  width: 0%;
  height: 100%;
  position: absolute;
  left: -5%;
  top: 0;
  transform: skewX(-10deg);
  transition: all 0.3s linear;
}

.contact-button:hover span.bg {
  background: var(--color-tem);
  width: 110%;
  border-radius: 0 15px 0 15px;
}

.contact-button span.base {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 15px 0 15px;
  border: 1px solid var(--color-tem);
}

.contact-button span.text {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.contact-button:hover span.text {
  color: #2d2b2b;
}

.submit-button {
  margin-top: 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #8a8484;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  color: #2d2b2b;
}
.scroll__wrapper {
  display: flex;
  place-items: center;
  transform: translate(80%, 80%);
  position: relative;
  color: var(--color-tem);
  &::after {
    content: 'scroll down';
    position: absolute;
    top: 0;
    left: -8px;
  }
  display: none;
}

.scroll__down {
  font-size: 4rem;
  animation: scroll 2s ease-in alternate-reverse infinite;
}
.scroll__down:hover .scroll__wrapper::after {
  display: block;
}

@media screen and (min-width: 1200px) {
  .scroll__wrapper {
    display: block;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@media screen and (min-width: 2000px) {
  .intro-page h1 {
    font-size: 10rem;
    line-height: 9rem;
    letter-spacing: -4px;
  }
  .intro-page h1 .home-logo {
    width: 100px;
  }
  .section-1 .text-desc {
    font-size: 1.5em;
  }
}

// extra large screens

@media screen and (max-width: 1900px) {
  .intro-page h1 {
    font-size: 4.7rem;
    line-height: 6rem;
    letter-spacing: -2px;
  }
  .intro-page h1 .home-logo {
    width: 60px;
  }
  .section-1 .text-desc {
    font-size: 1rem;
  }
}

