.section-1 {
  min-height: 120vh;
  display: flex;
// align-items: center;
  font-family: sans-serif;
  border: 3px solid rgb(230, 58, 58);
  margin-left: 11.6%;
  
}

.letterT {
  
  line-height: 3rem;
  
  margin-top:5%;
 
  margin-left: -10%;
}
.intro-page h1  {
  font-size: 3.5em;
  line-height: 5rem;
  letter-spacing: 2px;
  
  font-weight: 550;
  color: var(--color-tem);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -11.2%;
  margin-left: 0%;
}

.intro-page h2 {
  font-size: 1.5em;
  line-height: 3rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgb(154, 146, 146);
  text-align: center;
}

