.section-service {
  position: relative;
}

.section-service-description {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr;
}
.section-service-description h1 {
  display: block;
  font-size: 3rem;
 
  margin-bottom: 25px;
  text-align: center;
}

.section-service-description {
  font-size: 1.3rem;
  text-align: center;
}
